@use 'sass:color';
@import './iconly-font/css/style.css';
@import './iconly-font/css/bulk-style.css';

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$color-dark: rgba(14, 15, 15, 1);
$color-dark-translucent: color.change($color-dark, $alpha: 0.8);
$color-dark-gray: rgba(27, 29, 31, 1);
$color-medium-gray: rgba(73, 73, 73, 1);
$color-medium-gray-translucent: rgba(73, 73, 73, 0.5);
$color-light: #e2e8f0;
$color-light-gray: #d5d5d5;
$color-text-cornsilk: rgb(255, 248, 220);
$color-dark-gold: rgb(153, 126, 67);
$color-gold: rgba(208, 179, 115, 1);
$color-light-gold: rgb(230, 217, 190);
$color-light-gold-translucent: rgba(230, 217, 190, 0.2);
$color-blue: #60a5fa;
$color-dim: #bababa;
$color-secret: rgba(168, 85, 247, 1);
$color-secret-translucent: rgba(168, 85, 247, 0.2);
$navbar-height: 260px;
$timeline-header-height: 30px;
$categories-menu-width: 200px;
$categories-menu-chip-width: 30px;
$color-disabled: #444;

$font-family-serif: 'serif';
$menu-bg: $color-dark-gray;
$menu-border: $color-dark-gold;

$font-family-title: 'Montserrat', sans-serif;
$font-family-text: 'Crimson Text', sans-serif;
$font-family-decorative: 'Cinzel Decorative', serif;

$timeline-header-height: 30px;
$timeline-header-height-mobile: 105px;
