$color-dark: #0f172a;
$color-dark-gray: #1e293b;
$color-medium-gray: #334155;
$color-light: #e2e8f0;
$color-light-gray: #cbd5e1;
$color-gold: #d0b373;
$color-blue: #60a5fa;
$color-dim: #94a3b8;
$navbar-height: 260px;
$timeline-header-height: 30px;
$font-family-serif: 'serif';
