@use './variables' as *;

.history {
	position: relative;
	display: block;
	min-height: 100%;
	height: 100%;
	max-height: 100%;
	color: $color-light;
	overflow: hidden;
	background-image: url('../assets/aetherium_coming_of_elves.png');
	background-size: cover;
	background-position: center;
}
