@use './_variables' as *;
@use './_mixins' as *;

.navBar {
	position: fixed;
	left: 0;
	right: 0;

	align-items: center;
	z-index: 1000;

	@include flex-center;

	.brand {
		display: flex;
		flex-direction: column;
		align-items: center;

		.brand-logo {
			width: auto;
		}
	}

	&.other {
		padding: 0.5rem 1rem;
		background: $color-dark-gray;
		border-bottom: 1px solid $color-dark-gold;
		height: calc($navbar-height/2);
		top: 0;

		.brand {
			.brand-logo {
				max-height: 100px;
				width: auto;
			}
		}
	}

	&.is-home {
		padding: 1.5rem 1rem;
		background: transparent;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: calc($navbar-height);
		animation: fromTopToBottom 1s ease-out forwards;
		animation-delay: 6s;
		width: 100%;
	}
}

.navLink {
	@include spaced-title-font();
	text-decoration: none;
	font-weight: 600;
	color: $color-light;
	transition: color 0.2s;
	width: 160px;
	transition: all 0.2s ease;

	&:hover {
		color: $color-gold;
	}
}

.navLink.active {
	color: $color-gold;
	&:hover {
		color: $color-dim;
	}
}

.navLink.is-home {
	font-size: 1.5rem;
	width: 200px;

	&.brand {
		height: auto;
		width: 300px;
		animation: smmaller 0.4s ease forwards;
		animation-delay: 6s;
	}

	&:not(.brand) {
		opacity: 0;
		animation: appear 3s ease forwards;
		animation-delay: 5s;
	}
}

.navLink.other {
	font-size: 1rem;
}

.brand .treeIcon {
	line-height: 1;
}

.brand .name {
	font-family: $font-family-serif;
	letter-spacing: 0.05em;
	color: $color-gold;
	font-weight: 700;
}

.brand.is-home .treeIcon {
	font-size: 3rem;
}

.brand.other .treeIcon {
	font-size: 1.8rem;
}

.brand.is-home .name {
	font-size: 2.5rem;
}

.brand.other .name {
	font-size: 1.4rem;
}

.backLink {
	@include spaced-title-font();
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
	text-decoration: none;
	font-weight: 200;
	color: $color-light;
	display: flex;
	transition: all 0.2s ease;

	&:hover {
		color: $color-gold;
	}
}

@keyframes fromTopToBottom {
	0% {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	100% {
		height: 100px;
		top: calc(100% - 210px);
		background: $color-dark-gray;
	}
}

@keyframes fromBottomToTop {
	0% {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	100% {
		top: 0px;
		border-width: 100%;
		border-opacity: 1;
	}
}

@keyframes smmaller {
	0% {
		width: 300px;
	}
	100% {
		width: 100px;
	}
}

// Hide text label on smaller screens (< 768px)
@media (max-width: 860px) {
	.navBar {
		.brand {
			.brand-logo {
				width: 100%;
			}
		}
	}

	.navLink.is-home {
		width: 160px;
		&.brand {
			width: 500px;
		}
	}

	@keyframes smmaller {
		0% {
			width: 500px;
		}
		100% {
			width: 100px;
		}
	}
}
